- name: Deploy Node.js app on EC2 using Docker
  hosts: ec2
  become: true

  vars:
    image_name: "{{ docker_image }}"
    container_name: nodejs-app
    app_port: 5000

  tasks:
    - name: Install python3-pip using dnf (Amazon Linux 2023)
      dnf:
        name: python3-pip
        state: present

    - name: Install Docker SDK for Python (ignore system packages)
      pip:
        name: docker
        executable: pip3
        extra_args: --ignore-installed
        state: present

    - name: Ensure Docker service is running
      service:
        name: docker
        state: started
        enabled: true

    - name: Pull and run Node.js Docker container
      docker_container:
        name: "{{ container_name }}"
        image: "{{ image_name }}"
        state: started
        restart_policy: always
        recreate: yes
        pull: yes
        ports:
          - "5000:3000"
        env:
          PORT: "3000"